*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(8) {
  width: 300px;
  height: 470px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.item {
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.item button {
  padding: 5px;
}

/*alteração do sobre dos cardápios*/
.about{
  position: fixed;
  background-color: black;
  display: none;
  flex-direction: column;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
  padding: 20px;
  top: 10%;
}
.about p,h1{
  color: white;
}
.about button{
  height: 50px;
}
.header {
  background-color: brown;
  color: white;
  padding: 35px 20px;
  text-align: center;
}
.header p {
  margin-top: 0;
  font-size: 3.0em;
}
.footer {
  background-color: rgb(129, 34, 34);
  color: white;
  padding: 38px 20px;
  text-align: center;
}
